<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group acceso_remoto-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Unidad -->
		<div class="form-group acceso_remoto-unidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Unidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="unidad<%%RND1%%>"><%%COMBOTEXT(unidad)%%></span></div>
			</div>
		</div>
		<!-- Field: Ciudad -->
		<div class="form-group acceso_remoto-ciudad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ciudad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ciudad<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Servicio -->
		<div class="form-group acceso_remoto-servicio" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Servicio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(servicio)%%></div>
			</div>
		</div>
		<!-- Field: Anydesk -->
		<div class="form-group acceso_remoto-anydesk" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Anydesk</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(anydesk)%%></div>
			</div>
		</div>
		<!-- Field: Acceso -->
		<div class="form-group acceso_remoto-acceso" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Acceso</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(acceso)%%></div>
			</div>
		</div>
		<!-- Field: Teamviewer -->
		<div class="form-group acceso_remoto-teamviewer" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Teamviewer</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(teamviewer)%%></div>
			</div>
		</div>
		<!-- Field: Acceso Team -->
		<div class="form-group acceso_remoto-acceso2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Acceso Team</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(acceso2)%%></div>
			</div>
		</div>
		<!-- Field: Equipo relacionado -->
		<div class="form-group acceso_remoto-codigo_equipo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Equipo relacionado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo_equipo<%%RND1%%>"><%%COMBOTEXT(codigo_equipo)%%></span></div>
			</div>
		</div>
		<!-- Field: Equipo -->
		<div class="form-group acceso_remoto-equipo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Equipo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="equipo<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Ultima verificacion -->
		<div class="form-group acceso_remoto-ultima_verifica" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ultima verificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(ultima_verifica)%%></div>
			</div>
		</div>
		<!-- Field: Comentario -->
		<div class="form-group acceso_remoto-comentario" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comentario</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(comentario)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group acceso_remoto-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group acceso_remoto-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
		<!-- Field: Editado -->
		<div class="form-group acceso_remoto-editado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Editado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(editado)%%></div>
			</div>
		</div>
		<!-- Field: Editado por -->
		<div class="form-group acceso_remoto-editado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Editado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(editado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
