<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the articulos_init() hook (in hooks/articulos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="articulos-nombre_unico-<%%VALUE(id)%%>" class="articulos-nombre_unico"><%%VALUE(nombre_unico)%%></td>
		<td id="articulos-tipo_dispo-<%%VALUE(id)%%>" class="articulos-tipo_dispo"><%%VALUE(tipo_dispo)%%></td>
		<td id="articulos-marca-<%%VALUE(id)%%>" class="articulos-marca"><%%VALUE(marca)%%></td>
		<td id="articulos-modelo-<%%VALUE(id)%%>" class="articulos-modelo"><%%VALUE(modelo)%%></td>
		<td id="articulos-presentacion-<%%VALUE(id)%%>" class="articulos-presentacion"><%%VALUE(presentacion)%%></td>
		<td id="articulos-referencia-<%%VALUE(id)%%>" class="articulos-referencia"><%%VALUE(referencia)%%></td>
		<td id="articulos-familia-<%%VALUE(id)%%>" class="articulos-familia"><%%VALUE(familia)%%></td>
		<td id="articulos-codigo_proveedor-<%%VALUE(id)%%>" class="articulos-codigo_proveedor"><%%VALUE(codigo_proveedor)%%></td>
		<td id="articulos-caracteristicas-<%%VALUE(id)%%>" class="articulos-caracteristicas"><%%VALUE(caracteristicas)%%></td>
		<td id="articulos-nota-<%%VALUE(id)%%>" class="articulos-nota"><%%VALUE(nota)%%></td>
		<td id="articulos-imagen-<%%VALUE(id)%%>" class="articulos-imagen"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(imagen)%%>" data-lightbox="articulos-imagen"><img src="thumbnail.php?i=<%%VALUE(imagen)%%>&t=marca_modelo&f=img&v=tv" class="img-thumbnail"></a></td>
		<td id="articulos-estado-<%%VALUE(id)%%>" class="articulos-estado"><%%VALUE(estado)%%></td>
