<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group cantidad_articulos-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Articulo -->
		<div class="form-group cantidad_articulos-nombre_articulo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Articulo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nombre_articulo<%%RND1%%>"><%%COMBOTEXT(nombre_articulo)%%></span></div>
			</div>
		</div>
		<!-- Field: Presentacion -->
		<div class="form-group cantidad_articulos-presentacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Presentacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="presentacion<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group cantidad_articulos-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="descripcion<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Serial -->
		<div class="form-group cantidad_articulos-serial" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Serial</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="serial<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Cantidad -->
		<div class="form-group cantidad_articulos-cantidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cantidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cantidad)%%></div>
			</div>
		</div>
		<!-- Field: Estado -->
		<div class="form-group cantidad_articulos-estado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="estado<%%RND1%%>"><%%COMBOTEXT(estado)%%></span></div>
			</div>
		</div>
		<!-- Field: Id compras -->
		<div class="form-group cantidad_articulos-id_compras" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id compras</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_compras-readonly<%%RND1%%>"><%%COMBOTEXT(id_compras)%%></span></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group cantidad_articulos-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Tipo -->
		<div class="form-group cantidad_articulos-tipo_compra" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_compra<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group cantidad_articulos-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
