<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the cantidad_dispomedico_init() hook (in hooks/cantidad_dispomedico.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="cantidad_dispomedico-nombre_dispo-<%%VALUE(id)%%>" class="cantidad_dispomedico-nombre_dispo"><%%VALUE(nombre_dispo)%%></td>
		<td id="cantidad_dispomedico-serial-<%%VALUE(id)%%>" class="cantidad_dispomedico-serial"><%%VALUE(serial)%%></td>
		<td id="cantidad_dispomedico-marca_modelo-<%%VALUE(id)%%>" class="cantidad_dispomedico-marca_modelo"><%%VALUE(marca_modelo)%%></td>
		<td id="cantidad_dispomedico-descripcion-<%%VALUE(id)%%>" class="cantidad_dispomedico-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="cantidad_dispomedico-uso-<%%VALUE(id)%%>" class="cantidad_dispomedico-uso"><%%VALUE(uso)%%></td>
		<td id="cantidad_dispomedico-estado-<%%VALUE(id)%%>" class="cantidad_dispomedico-estado"><%%VALUE(estado)%%></td>
