<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the contactos_init() hook (in hooks/contactos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="contactos-tipo_contacto-<%%VALUE(id_contactos)%%>" class="contactos-tipo_contacto"><%%SELECT%%><%%VALUE(tipo_contacto)%%><%%ENDSELECT%%></td>
		<td id="contactos-tipo_iden-<%%VALUE(id_contactos)%%>" class="contactos-tipo_iden"><%%SELECT%%><%%VALUE(tipo_iden)%%><%%ENDSELECT%%></td>
		<td id="contactos-identificacion-<%%VALUE(id_contactos)%%>" class="contactos-identificacion"><%%SELECT%%><%%VALUE(identificacion)%%><%%ENDSELECT%%></td>
		<td id="contactos-nombre-<%%VALUE(id_contactos)%%>" class="contactos-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="contactos-ciudad-<%%VALUE(id_contactos)%%>" class="contactos-ciudad"><%%SELECT%%><%%VALUE(ciudad)%%><%%ENDSELECT%%></td>
		<td id="contactos-telefono-<%%VALUE(id_contactos)%%>" class="contactos-telefono"><%%SELECT%%><%%VALUE(telefono)%%><%%ENDSELECT%%></td>
		<td id="contactos-direccion-<%%VALUE(id_contactos)%%>" class="contactos-direccion"><%%SELECT%%><%%VALUE(direccion)%%><%%ENDSELECT%%></td>
		<td id="contactos-tipo_relacion-<%%VALUE(id_contactos)%%>" class="contactos-tipo_relacion"><%%SELECT%%><%%VALUE(tipo_relacion)%%><%%ENDSELECT%%></td>
		<td id="contactos-nota-<%%VALUE(id_contactos)%%>" class="contactos-nota"><%%SELECT%%><%%VALUE(nota)%%><%%ENDSELECT%%></td>
		<td id="contactos-creado-<%%VALUE(id_contactos)%%>" class="contactos-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
		<td id="contactos-editado-<%%VALUE(id_contactos)%%>" class="contactos-editado"><%%SELECT%%><%%VALUE(editado)%%><%%ENDSELECT%%></td>
