<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the contactos_init() hook (in hooks/contactos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="contactos-tipo_contacto-<%%VALUE(id_contactos)%%>" class="contactos-tipo_contacto"><%%VALUE(tipo_contacto)%%></td>
		<td id="contactos-tipo_iden-<%%VALUE(id_contactos)%%>" class="contactos-tipo_iden"><%%VALUE(tipo_iden)%%></td>
		<td id="contactos-identificacion-<%%VALUE(id_contactos)%%>" class="contactos-identificacion"><%%VALUE(identificacion)%%></td>
		<td id="contactos-nombre-<%%VALUE(id_contactos)%%>" class="contactos-nombre"><%%VALUE(nombre)%%></td>
		<td id="contactos-ciudad-<%%VALUE(id_contactos)%%>" class="contactos-ciudad"><%%VALUE(ciudad)%%></td>
		<td id="contactos-telefono-<%%VALUE(id_contactos)%%>" class="contactos-telefono"><%%VALUE(telefono)%%></td>
		<td id="contactos-direccion-<%%VALUE(id_contactos)%%>" class="contactos-direccion"><%%VALUE(direccion)%%></td>
		<td id="contactos-tipo_relacion-<%%VALUE(id_contactos)%%>" class="contactos-tipo_relacion"><%%VALUE(tipo_relacion)%%></td>
		<td id="contactos-nota-<%%VALUE(id_contactos)%%>" class="contactos-nota"><%%VALUE(nota)%%></td>
		<td id="contactos-creado-<%%VALUE(id_contactos)%%>" class="contactos-creado"><%%VALUE(creado)%%></td>
		<td id="contactos-editado-<%%VALUE(id_contactos)%%>" class="contactos-editado"><%%VALUE(editado)%%></td>
