<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group contactos-id_contactos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_contactos)%%></div>
			</div>
		</div>
		<!-- Field: Tipo de contacto -->
		<div class="form-group contactos-tipo_contacto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo de contacto</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_contacto<%%RND1%%>"><%%COMBOTEXT(tipo_contacto)%%></span></div>
			</div>
		</div>
		<!-- Field: Tipo de ID -->
		<div class="form-group contactos-tipo_iden" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo de ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_iden<%%RND1%%>"><%%COMBOTEXT(tipo_iden)%%></span></div>
			</div>
		</div>
		<!-- Field: No. Identificacion -->
		<div class="form-group contactos-identificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">No. Identificacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(identificacion)%%></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group contactos-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: Ciudad -->
		<div class="form-group contactos-ciudad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ciudad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ciudad<%%RND1%%>"><%%COMBOTEXT(ciudad)%%></span></div>
			</div>
		</div>
		<!-- Field: Telefono -->
		<div class="form-group contactos-telefono" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono)%%></div>
			</div>
		</div>
		<!-- Field: Direccion -->
		<div class="form-group contactos-direccion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Direccion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(direccion)%%></div>
			</div>
		</div>
		<!-- Field: Tipo de relacion -->
		<div class="form-group contactos-tipo_relacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo de relacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_relacion<%%RND1%%>"><%%COMBOTEXT(tipo_relacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Descripci&#243;n -->
		<div class="form-group contactos-nota" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripci&#243;n</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nota)%%></div>
			</div>
		</div>
		<!-- Field: Reg creado -->
		<div class="form-group contactos-reg_creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reg creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reg_creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group contactos-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group contactos-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
		<!-- Field: Editado -->
		<div class="form-group contactos-editado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Editado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(editado)%%></div>
			</div>
		</div>
		<!-- Field: Editado por -->
		<div class="form-group contactos-editado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Editado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(editado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="contactos-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=contactos-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'contactos',
				SelectedID: '<%%VALUE(id_contactos)%%>',
				Operation: 'show-children-printable'
			},
			'contactos-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

