<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the dispo_detalles_tecnicos_init() hook (in hooks/dispo_detalles_tecnicos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="dispo_detalles_tecnicos-id_dispo-<%%VALUE(id)%%>" class="dispo_detalles_tecnicos-id_dispo"><%%SELECT%%><%%VALUE(id_dispo)%%><%%ENDSELECT%%></td>
		<td id="dispo_detalles_tecnicos-detalles-<%%VALUE(id)%%>" class="dispo_detalles_tecnicos-detalles"><%%SELECT%%><%%VALUE(detalles)%%><%%ENDSELECT%%></td>
		<td id="dispo_detalles_tecnicos-creado-<%%VALUE(id)%%>" class="dispo_detalles_tecnicos-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
