<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: No. -->
		<div class="form-group dispositivos-codigo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">No.</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(codigo)%%></div>
			</div>
		</div>
		<!-- Field: ID -->
		<div class="form-group dispositivos-id_dispo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_dispo)%%></div>
			</div>
		</div>
		<!-- Field: Foto -->
		<div class="form-group dispositivos-foto" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Foto</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="foto<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: C&#211;DIGO -->
		<div class="form-group dispositivos-code" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">C&#211;DIGO</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(code)%%></div>
			</div>
		</div>
		<!-- Field: Serial -->
		<div class="form-group dispositivos-serial" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Serial</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(serial)%%></div>
			</div>
		</div>
		<!-- Field: Nombre del equipo -->
		<div class="form-group dispositivos-tipo_dispositivo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre del equipo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_dispositivo<%%RND1%%>"><%%COMBOTEXT(tipo_dispositivo)%%></span></div>
			</div>
		</div>
		<!-- Field: Marca -->
		<div class="form-group dispositivos-marca" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Marca</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="marca<%%RND1%%>"><%%COMBOTEXT(marca)%%></span></div>
			</div>
		</div>
		<!-- Field: Modelo -->
		<div class="form-group dispositivos-modelo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Modelo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="modelo<%%RND1%%>"><%%COMBOTEXT(modelo)%%></span></div>
			</div>
		</div>
		<!-- Field: Ubicacion -->
		<div class="form-group dispositivos-ubicacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ubicacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ubicacion-readonly<%%RND1%%>"><%%COMBOTEXT(ubicacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Unidad -->
		<div class="form-group dispositivos-ubicacion_abre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Unidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ubicacion_abre<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Fecha de ingreso -->
		<div class="form-group dispositivos-fecha_ingreso" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha de ingreso</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_ingreso)%%></div>
			</div>
		</div>
		<!-- Field: Riesgo -->
		<div class="form-group dispositivos-clasificacion_riesgo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Riesgo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="clasificacion_riesgo<%%RND1%%>"><%%COMBOTEXT(clasificacion_riesgo)%%></span></div>
			</div>
		</div>
		<!-- Field: Estado -->
		<div class="form-group dispositivos-estado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="estado<%%RND1%%>"><%%COMBOTEXT(estado)%%></span></div>
			</div>
		</div>
		<!-- Field: Precio -->
		<div class="form-group dispositivos-precio" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Precio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(precio)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group dispositivos-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group dispositivos-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
		<!-- Field: Editado -->
		<div class="form-group dispositivos-editado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Editado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(editado)%%></div>
			</div>
		</div>
		<!-- Field: Editado por -->
		<div class="form-group dispositivos-editado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Editado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(editado_por)%%></div>
			</div>
		</div>
		<!-- Field: Id compra -->
		<div class="form-group dispositivos-id_compra_ingreso" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Id compra</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_compra_ingreso<%%RND1%%>"><%%COMBOTEXT(id_compra_ingreso)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="dispositivos-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=dispositivos-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'dispositivos',
				SelectedID: '<%%VALUE(id_dispo)%%>',
				Operation: 'show-children-printable'
			},
			'dispositivos-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

