<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the dispo_fuera_init() hook (in hooks/dispo_fuera.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="dispo_fuera-img-<%%VALUE(id)%%>" class="dispo_fuera-img"><%%VALUE(img)%%></td>
		<td id="dispo_fuera-codigo-<%%VALUE(id)%%>" class="dispo_fuera-codigo"><%%VALUE(codigo)%%></td>
		<td id="dispo_fuera-serial-<%%VALUE(id)%%>" class="dispo_fuera-serial"><%%VALUE(serial)%%></td>
		<td id="dispo_fuera-ubicacion_final-<%%VALUE(id)%%>" class="dispo_fuera-ubicacion_final"><%%VALUE(ubicacion_final)%%></td>
		<td id="dispo_fuera-tipo_fuera_servicio-<%%VALUE(id)%%>" class="dispo_fuera-tipo_fuera_servicio"><%%VALUE(tipo_fuera_servicio)%%></td>
		<td id="dispo_fuera-fecha_reporte-<%%VALUE(id)%%>" class="dispo_fuera-fecha_reporte"><%%VALUE(fecha_reporte)%%></td>
		<td id="dispo_fuera-descripcion-<%%VALUE(id)%%>" class="dispo_fuera-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="dispo_fuera-creado-<%%VALUE(id)%%>" class="dispo_fuera-creado"><%%VALUE(creado)%%></td>
		<td id="dispo_fuera-creado_por-<%%VALUE(id)%%>" class="dispo_fuera-creado_por"><%%VALUE(creado_por)%%></td>
