<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the documentos_init() hook (in hooks/documentos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="documentos-dispo_codigo-<%%VALUE(id)%%>" class="documentos-dispo_codigo"><%%SELECT%%><%%VALUE(dispo_codigo)%%><%%ENDSELECT%%></td>
		<td id="documentos-dispo_serial-<%%VALUE(id)%%>" class="documentos-dispo_serial"><%%SELECT%%><%%VALUE(dispo_serial)%%><%%ENDSELECT%%></td>
		<td id="documentos-tipo_docu-<%%VALUE(id)%%>" class="documentos-tipo_docu"><%%SELECT%%><%%VALUE(tipo_docu)%%><%%ENDSELECT%%></td>
		<td id="documentos-enlace-<%%VALUE(id)%%>" class="documentos-enlace"><a href="link.php?t=documentos&f=enlace&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(enlace)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-globe text-info"></i></a></td>
		<td id="documentos-descripcion-<%%VALUE(id)%%>" class="documentos-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="documentos-fecha_carga-<%%VALUE(id)%%>" class="documentos-fecha_carga"><%%SELECT%%><%%VALUE(fecha_carga)%%><%%ENDSELECT%%></td>
		<td id="documentos-creado-<%%VALUE(id)%%>" class="documentos-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
		<td id="documentos-editado-<%%VALUE(id)%%>" class="documentos-editado"><%%SELECT%%><%%VALUE(editado)%%><%%ENDSELECT%%></td>
		<script>$j(function() {
			var e_enlace = '<%%VALUE(enlace)%%>'; if(e_enlace == '' || e_enlace == '&nbsp;') $j(/*<*/ '#documentos-enlace-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
