<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the financiero_init() hook (in hooks/financiero.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="financiero-id_dispo-<%%VALUE(id)%%>" class="financiero-id_dispo"><%%VALUE(id_dispo)%%></td>
		<td id="financiero-precio-<%%VALUE(id)%%>" class="financiero-precio"><%%VALUE(precio)%%></td>
		<td id="financiero-unidad-<%%VALUE(id)%%>" class="financiero-unidad"><%%VALUE(unidad)%%></td>
		<td id="financiero-enlace-<%%VALUE(id)%%>" class="financiero-enlace"><a href="link.php?t=financiero&f=enlace&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(enlace)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-globe text-info"></i></a></td>
		<td id="financiero-creado-<%%VALUE(id)%%>" class="financiero-creado"><%%VALUE(creado)%%></td>
		<script>$j(function() {
			var e_enlace = '<%%VALUE(enlace)%%>'; if(e_enlace == '' || e_enlace == '&nbsp;') $j(/*<*/ '#financiero-enlace-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
