<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the formatos_init() hook (in hooks/formatos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="formatos-tipo_formato-<%%VALUE(id)%%>" class="formatos-tipo_formato"><%%SELECT%%><%%VALUE(tipo_formato)%%><%%ENDSELECT%%></td>
		<td id="formatos-tipo_dispositivo-<%%VALUE(id)%%>" class="formatos-tipo_dispositivo"><%%SELECT%%><%%VALUE(tipo_dispositivo)%%><%%ENDSELECT%%></td>
		<td id="formatos-nombre_formato-<%%VALUE(id)%%>" class="formatos-nombre_formato"><%%SELECT%%><%%VALUE(nombre_formato)%%><%%ENDSELECT%%></td>
		<td id="formatos-formato-<%%VALUE(id)%%>" class="formatos-formato"><a href="link.php?t=formatos&f=formato&i=<%%VALUE(id)%%>" target="_blank" title="<%%VALUE(formato)%%>" class="btn btn-default"><i class="glyphicon glyphicon-lg glyphicon-globe text-info"></i></a></td>
		<td id="formatos-descripcion-<%%VALUE(id)%%>" class="formatos-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<script>$j(function() {
			var e_formato = '<%%VALUE(formato)%%>'; if(e_formato == '' || e_formato == '&nbsp;') $j(/*<*/ '#formatos-formato-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
