<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the genera_documentos_init() hook (in hooks/genera_documentos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="genera_documentos-tipo_documento_entrega-<%%VALUE(id)%%>" class="genera_documentos-tipo_documento_entrega"><%%VALUE(tipo_documento_entrega)%%></td>
		<td id="genera_documentos-ciudad-<%%VALUE(id)%%>" class="genera_documentos-ciudad"><%%VALUE(ciudad)%%></td>
		<td id="genera_documentos-fecha-<%%VALUE(id)%%>" class="genera_documentos-fecha"><%%VALUE(fecha)%%></td>
		<td id="genera_documentos-entidad-<%%VALUE(id)%%>" class="genera_documentos-entidad"><%%VALUE(entidad)%%></td>
		<td id="genera_documentos-referencia-<%%VALUE(id)%%>" class="genera_documentos-referencia"><%%VALUE(referencia)%%></td>
		<td id="genera_documentos-descripcion-<%%VALUE(id)%%>" class="genera_documentos-descripcion"><%%VALUE(descripcion)%%></td>
		<td id="genera_documentos-conslusion-<%%VALUE(id)%%>" class="genera_documentos-conslusion"><%%VALUE(conslusion)%%></td>
		<td id="genera_documentos-creado-<%%VALUE(id)%%>" class="genera_documentos-creado"><%%VALUE(creado)%%></td>
		<td id="genera_documentos-creado_por-<%%VALUE(id)%%>" class="genera_documentos-creado_por"><%%VALUE(creado_por)%%></td>
