<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group genera_documentos-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Tipo de documento -->
		<div class="form-group genera_documentos-tipo_documento_entrega" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo de documento</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(tipo_documento_entrega)%%></div>
			</div>
		</div>
		<!-- Field: Ciudad -->
		<div class="form-group genera_documentos-ciudad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ciudad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ciudad<%%RND1%%>"><%%COMBOTEXT(ciudad)%%></span></div>
			</div>
		</div>
		<!-- Field: Fecha -->
		<div class="form-group genera_documentos-fecha" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha)%%></div>
			</div>
		</div>
		<!-- Field: Entidad -->
		<div class="form-group genera_documentos-entidad" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Entidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="entidad<%%RND1%%>"><%%COMBOTEXT(entidad)%%></span></div>
			</div>
		</div>
		<!-- Field: Referencia -->
		<div class="form-group genera_documentos-referencia" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Referencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(referencia)%%></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group genera_documentos-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(descripcion)%%></div>
			</div>
		</div>
		<!-- Field: Conslusion -->
		<div class="form-group genera_documentos-conslusion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Conslusion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(conslusion)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group genera_documentos-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group genera_documentos-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
