<!-- To change the layout of the detail view form, we recommend using JS code in hooks/mantenimientos-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="mantenimientos_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="mantenimientos_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="costos_mtto_view.php?filterer_id_mtto=<%%URLVALUE(id_mtto)%%>&<%%EMBEDDED%%>" id="costos_mtto_link"><i class="glyphicon glyphicon-list-alt"></i> Costos en mantenimiento</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="costos_mtto_view.php?filterer_id_mtto=<%%URLVALUE(id_mtto)%%>&<%%EMBEDDED%%>" id="xs_costos_mtto_link"><i class="glyphicon glyphicon-list-alt"></i> Costos en mantenimiento</a>
			<input type="hidden" id="costos_mtto_hclink" value="costos_mtto_view.php?filterer_id_mtto=<%%URLVALUE(id_mtto)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="doc_mtto_view.php?filterer_id_mtto=<%%URLVALUE(id_mtto)%%>&<%%EMBEDDED%%>" id="doc_mtto_link"><i class="glyphicon glyphicon-list-alt"></i> Doc mtto</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="doc_mtto_view.php?filterer_id_mtto=<%%URLVALUE(id_mtto)%%>&<%%EMBEDDED%%>" id="xs_doc_mtto_link"><i class="glyphicon glyphicon-list-alt"></i> Doc mtto</a>
			<input type="hidden" id="doc_mtto_hclink" value="doc_mtto_view.php?filterer_id_mtto=<%%URLVALUE(id_mtto)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="mantenimientos_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group mantenimientos-id_mtto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id_mtto">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id_mtto"><%%VALUE(id_mtto)%%></div>
					</div>
				</div>

				<!-- Field: Codigo -->
				<div class="form-group mantenimientos-codigo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="codigo" data-parent_link="view_parent_modal">Codigo<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(codigo)%%><%%PLINK(codigo)%%><%%ADDNEW(dispositivos)%%><span id="codigoLoading"></span></div>
					</div>
				</div>

				<!-- Field: Serial -->
				<div class="form-group mantenimientos-serial">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Serial</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="serial"></div>
					</div>
				</div>

				<!-- Field: Tipo dispo -->
				<div class="form-group mantenimientos-tipo_dispo">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Tipo dispo</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="tipo_dispo"></div>
					</div>
				</div>

				<!-- Field: Fecha de mantenimiento -->
				<div class="form-group mantenimientos-fecha_mtto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="fecha_mtto-dd">Fecha de mantenimiento<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#fecha_mtto-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="fecha_mtto-description"><div class="alert alert-info bspacer-xs">Fecha en la que sealiza el mantenimiento</div></span>
						<%%COMBO(fecha_mtto)%%>
					</div>
				</div>

				<!-- Field: Tipo de mantenimiento -->
				<div class="form-group mantenimientos-tipo_mtto">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tipo_mtto" data-parent_link="view_parent_modal">Tipo de mantenimiento<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(tipo_mtto)%%><%%PLINK(tipo_mtto)%%><%%ADDNEW(tipo_mtto)%%></div>
					</div>
				</div>

				<!-- Field: Responsable -->
				<div class="form-group mantenimientos-responsable">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="responsable" data-parent_link="view_parent_modal">Responsable<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(responsable)%%><%%PLINK(responsable)%%><%%ADDNEW(contactos)%%><span id="responsableLoading"></span></div>
					</div>
				</div>

				<!-- Field: identificacion -->
				<div class="form-group mantenimientos-id_responsable">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">identificacion</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id_responsable"></div>
					</div>
				</div>

				<!-- Field: Documento -->
				<div class="form-group mantenimientos-documento">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Documento <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#documento-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="documento-description"><div class="alert alert-info bspacer-xs">Maximum file size allowed: 1000 KB.<br>Allowed file types: pdf, jpg, png, doc, docx</div></span>
						<div class="form-control-static well well-sm">
							<div class="pull-left"><a id="documento-link" href="link.php?t=mantenimientos&f=documento&i=<%%VALUE(id_mtto)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-picture" title="<%%VALUE(documento)%%>" style="font-size: 4em;"></i></a></div>
							<div class="pull-right well upload-toolbox">
								<div class="hidden-md hidden-lg vspacer-lg"></div>
								<%%UPLOADFILE(documento)%%>
								<%%REMOVEFILE(documento)%%>
								<div class="text-bold text-danger file-type-error hidden">
									<%%TRANSLATION(invalid file type)%%>
								</div>
								<div class="text-bold text-danger file-size-error hidden">
									<%%TRANSLATION(file too large)%%>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<script>jQuery(function() { var e_documento = '<%%VALUE(documento)%%>'; if(e_documento == '' || e_documento == '&nbsp;' || e_documento == 'blank.gif') jQuery('#documento-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Documento en Drive -->
				<div class="form-group mantenimientos-documento_drive">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="documento_drive-edit-link">Documento en Drive <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#documento_drive-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="documento_drive-description"><div class="alert alert-info bspacer-xs">Enlace de documento en Google Drive</div></span>
						<div>
							<a id="documento_drive-link" href="link.php?t=mantenimientos&f=documento_drive&i=<%%VALUE(id_mtto)%%>" target="_blank" class="rspacer-lg"><i class="glyphicon glyphicon-lg glyphicon-globe" title="<%%VALUE(documento_drive)%%>"></i></a>
							<label for="documento_drive"><button type="button" id="documento_drive-edit-link" class="btn btn-default vspacer-sm" data-toggle="collapse" data-target="#documento_drive" title="<%%TRANSLATION(Edit)%%>"><i class="glyphicon glyphicon-pencil"></i></button></label>
							<input type="text" class="form-control collapse" name="documento_drive" id="documento_drive" value="<%%VALUE(documento_drive)%%>">
						</div><script>jQuery(function() { var e_documento_drive = '<%%VALUE(documento_drive)%%>'; if(e_documento_drive == '' || e_documento_drive == '&nbsp;' || e_documento_drive == 'blank.gif') jQuery('#documento_drive-link').hide(); });</script>
					</div>
				</div>

				<!-- Field: Unidad -->
				<div class="form-group mantenimientos-unidad">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="unidad" data-parent_link="view_parent_modal">Unidad<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(unidad)%%><%%PLINK(unidad)%%><%%ADDNEW(unidades)%%><span id="unidadLoading"></span></div>
					</div>
				</div>

				<!-- Field: Unidad Ciudad -->
				<div class="form-group mantenimientos-unidad_abreviado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Unidad Ciudad</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="unidad_abreviado"></div>
					</div>
				</div>

				<!-- Field: Descripcion del Mtto -->
				<div class="form-group mantenimientos-descripcion">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="descripcion">Descripcion del Mtto<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#descripcion-description"></i></label>
					<div class="col-lg-9 has-nicedit">
						<span class="help-block bspacer-xs collapse" id="descripcion-description"><div class="alert alert-info bspacer-xs">Descripcion resumen del mantenimiento</div></span>
						<%%HTMLAREA(descripcion)%%>
					</div>
				</div>

				<!-- Field: Estado final -->
				<div class="form-group mantenimientos-estado_final">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="estado_final" data-parent_link="view_parent_modal">Estado final<span class="text-danger"><%%TRANSLATION(*)%%></span> <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#estado_final-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="estado_final-description"><div class="alert alert-info bspacer-xs">Estado final del equipo luego del mantenimiento</div></span>
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(estado_final)%%><%%PLINK(estado_final)%%><%%ADDNEW(tipo_estado_dispo)%%></div>
					</div>
				</div>

				<!-- Field: Creado por -->
				<div class="form-group mantenimientos-creado_por">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Creado por</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="creado_por"><%%VALUE(creado_por)%%></div>
					</div>
				</div>

				<!-- Field: Editado por -->
				<div class="form-group mantenimientos-editado_por">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Editado por</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="editado_por"><%%VALUE(editado_por)%%></div>
					</div>
				</div>

				<!-- Field: Creado -->
				<div class="form-group mantenimientos-creado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Creado</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="creado"><%%VALUE(creado)%%></div>
					</div>
				</div>

				<!-- Field: Editado -->
				<div class="form-group mantenimientos-editado">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Editado</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="editado"><%%VALUE(editado)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="mantenimientos_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="mantenimientos-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#descripcion').length) new nicEditor({ fullPanel : true }).panelInstance('descripcion');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.mantenimientos-codigo')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0;
					},
					action: function() {
						$j('#mantenimientos_dv_container-loading').addClass('hidden');
						$j('#mantenimientos_dv_container').removeClass('hidden');
						AppGini.focusFormElement('mantenimientos', 'codigo');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#mantenimientos_dv_container-loading').addClass('hidden');
				$j('#mantenimientos_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'mantenimientos',
						SelectedID: '<%%VALUE(id_mtto)%%>',
						Operation: 'show-children'
					},
					'mantenimientos-children'
				);
			}

			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'mantenimientos',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=mantenimientos&id=<%%URLVALUE(id_mtto)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=mantenimientos&id=<%%URLVALUE(id_mtto)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>