<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the marca_modelo_init() hook (in hooks/marca_modelo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="marca_modelo-marca-<%%VALUE(id_mmodelo)%%>" class="marca_modelo-marca"><%%SELECT%%><%%VALUE(marca)%%><%%ENDSELECT%%></td>
		<td id="marca_modelo-modelo-<%%VALUE(id_mmodelo)%%>" class="marca_modelo-modelo"><%%SELECT%%><%%VALUE(modelo)%%><%%ENDSELECT%%></td>
		<td id="marca_modelo-img-<%%VALUE(id_mmodelo)%%>" class="marca_modelo-img"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(img)%%>" data-lightbox="marca_modelo-img"><img src="thumbnail.php?i=<%%VALUE(img)%%>&t=marca_modelo&f=img&v=tv" class="img-thumbnail"></a></td>
		<td id="marca_modelo-fabricante-<%%VALUE(id_mmodelo)%%>" class="marca_modelo-fabricante"><%%SELECT%%><%%VALUE(fabricante)%%><%%ENDSELECT%%></td>
		<td id="marca_modelo-descripcion-<%%VALUE(id_mmodelo)%%>" class="marca_modelo-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="marca_modelo-creado-<%%VALUE(id_mmodelo)%%>" class="marca_modelo-creado"><%%SELECT%%><%%VALUE(creado)%%><%%ENDSELECT%%></td>
