<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group marca_modelo-id_mmodelo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id_mmodelo)%%></div>
			</div>
		</div>
		<!-- Field: Marca -->
		<div class="form-group marca_modelo-marca" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Marca</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="marca<%%RND1%%>"><%%COMBOTEXT(marca)%%></span></div>
			</div>
		</div>
		<!-- Field: Modelo -->
		<div class="form-group marca_modelo-modelo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Modelo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(modelo)%%></div>
			</div>
		</div>
		<!-- Field: Imagen -->
		<div class="form-group marca_modelo-img" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Imagen</label>
			<div class="col-xs-9">
				<div class="form-control-static"><script>
				var imgSrc1<%%RND1%%>='<%%BASE_UPLOAD_PATH%%><%%VALUE(img)%%>';
				var imgSrc2<%%RND1%%>='thumbnail.php?t=marca_modelo&f=img&i=<%%VALUE(img)%%>&v=dv'
			</script>
			<a href="#" onclick="$('imgImg<%%RND1%%>').src=($('imgImg<%%RND1%%>').src.search(/thumbnail\.php/) != -1 && imgSrc1<%%RND1%%> != '<%%BASE_UPLOAD_PATH%%>' ? imgSrc1<%%RND1%%> : imgSrc2<%%RND1%%>); return false;"><img id="imgImg<%%RND1%%>" src="thumbnail.php?t=marca_modelo&f=img&i=<%%VALUE(img)%%>&v=dv" class="img-thumbnail"></a></div>
			</div>
		</div>
		<!-- Field: Fabricante -->
		<div class="form-group marca_modelo-fabricante" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fabricante</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fabricante)%%></div>
			</div>
		</div>
		<!-- Field: Descripcion -->
		<div class="form-group marca_modelo-descripcion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripcion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(descripcion)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group marca_modelo-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group marca_modelo-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="marca_modelo-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=marca_modelo-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'marca_modelo',
				SelectedID: '<%%VALUE(id_mmodelo)%%>',
				Operation: 'show-children-printable'
			},
			'marca_modelo-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

