<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the movi_recepcion_init() hook (in hooks/movi_recepcion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="movi_recepcion-fecha_recepcion-<%%VALUE(id)%%>" class="movi_recepcion-fecha_recepcion"><%%VALUE(fecha_recepcion)%%></td>
		<td id="movi_recepcion-destino-<%%VALUE(id)%%>" class="movi_recepcion-destino"><%%VALUE(destino)%%></td>
		<td id="movi_recepcion-o_direccion-<%%VALUE(id)%%>" class="movi_recepcion-o_direccion"><%%VALUE(o_direccion)%%></td>
		<td id="movi_recepcion-ciudad-<%%VALUE(id)%%>" class="movi_recepcion-ciudad"><%%VALUE(ciudad)%%></td>
		<td id="movi_recepcion-verificado-<%%VALUE(id)%%>" class="movi_recepcion-verificado"><%%VALUE(verificado)%%></td>
		<td id="movi_recepcion-nombre-<%%VALUE(id)%%>" class="movi_recepcion-nombre"><%%VALUE(nombre)%%></td>
		<td id="movi_recepcion-telefono-<%%VALUE(id)%%>" class="movi_recepcion-telefono"><%%VALUE(telefono)%%></td>
		<td id="movi_recepcion-detalles-<%%VALUE(id)%%>" class="movi_recepcion-detalles"><%%VALUE(detalles)%%></td>
		<td id="movi_recepcion-creado-<%%VALUE(id)%%>" class="movi_recepcion-creado"><%%VALUE(creado)%%></td>
