<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the observaciones_init() hook (in hooks/observaciones.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="observaciones-estado_observacion-<%%VALUE(id)%%>" class="observaciones-estado_observacion"><%%VALUE(estado_observacion)%%></td>
		<td id="observaciones-estado-<%%VALUE(id)%%>" class="observaciones-estado"><%%VALUE(estado)%%></td>
		<td id="observaciones-codigo-<%%VALUE(id)%%>" class="observaciones-codigo"><%%VALUE(codigo)%%></td>
		<td id="observaciones-tipo_dispo-<%%VALUE(id)%%>" class="observaciones-tipo_dispo"><%%VALUE(tipo_dispo)%%></td>
		<td id="observaciones-serial-<%%VALUE(id)%%>" class="observaciones-serial"><%%VALUE(serial)%%></td>
		<td id="observaciones-unidad-<%%VALUE(id)%%>" class="observaciones-unidad"><%%VALUE(unidad)%%></td>
		<td id="observaciones-observacion-<%%VALUE(id)%%>" class="observaciones-observacion"><%%VALUE(observacion)%%></td>
		<td id="observaciones-creado-<%%VALUE(id)%%>" class="observaciones-creado"><%%VALUE(creado)%%></td>
		<td id="observaciones-creado_por-<%%VALUE(id)%%>" class="observaciones-creado_por"><%%VALUE(creado_por)%%></td>
