		<td colspan="16" class="row">
			<div class="col-md-3"><div id="perfil-foto_perfil-<%%VALUE(id)%%>" class="perfil-foto_perfil"><%%SELECT%%><img src="thumbnail.php?i=<%%VALUE(foto_perfil)%%>&t=perfil&f=foto_perfil&v=tv" class="img-thumbnail"><%%ENDSELECT%%></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="perfil-usuario-caption field-caption-tv">Usuario</dt>
					<dd id="perfil-usuario-<%%VALUE(id)%%>" class="perfil-usuario"><%%SELECT%%><%%VALUE(usuario)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-nombre-caption field-caption-tv">Nombre</dt>
					<dd id="perfil-nombre-<%%VALUE(id)%%>" class="perfil-nombre"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-apellidos-caption field-caption-tv">Apellidos</dt>
					<dd id="perfil-apellidos-<%%VALUE(id)%%>" class="perfil-apellidos"><%%SELECT%%><%%VALUE(apellidos)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-tipo_id-caption field-caption-tv">Tipo id</dt>
					<dd id="perfil-tipo_id-<%%VALUE(id)%%>" class="perfil-tipo_id"><%%SELECT%%><%%VALUE(tipo_id)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-numero_id-caption field-caption-tv">Numero id</dt>
					<dd id="perfil-numero_id-<%%VALUE(id)%%>" class="perfil-numero_id"><%%SELECT%%><%%VALUE(numero_id)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-dato2-caption field-caption-tv">Email</dt>
					<dd id="perfil-dato2-<%%VALUE(id)%%>" class="perfil-dato2"><%%SELECT%%><%%VALUE(dato2)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-fecha_nacimiento-caption field-caption-tv">Fecha nacimiento</dt>
					<dd id="perfil-fecha_nacimiento-<%%VALUE(id)%%>" class="perfil-fecha_nacimiento"><%%SELECT%%><%%VALUE(fecha_nacimiento)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-telefono-caption field-caption-tv">Telefono</dt>
					<dd id="perfil-telefono-<%%VALUE(id)%%>" class="perfil-telefono"><%%SELECT%%><%%VALUE(telefono)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-celular-caption field-caption-tv">Celular</dt>
					<dd id="perfil-celular-<%%VALUE(id)%%>" class="perfil-celular"><%%SELECT%%><%%VALUE(celular)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-rh-caption field-caption-tv">Rh</dt>
					<dd id="perfil-rh-<%%VALUE(id)%%>" class="perfil-rh"><%%SELECT%%><%%VALUE(rh)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-estado_civil-caption field-caption-tv">Estado civil</dt>
					<dd id="perfil-estado_civil-<%%VALUE(id)%%>" class="perfil-estado_civil"><%%SELECT%%><%%VALUE(estado_civil)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-direccion-caption field-caption-tv">Direccion</dt>
					<dd id="perfil-direccion-<%%VALUE(id)%%>" class="perfil-direccion"><%%SELECT%%><%%VALUE(direccion)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-optimo-caption field-caption-tv">% Optimo</dt>
					<dd id="perfil-optimo-<%%VALUE(id)%%>" class="perfil-optimo"><%%SELECT%%><%%VALUE(optimo)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-grupo-caption field-caption-tv">Grupo</dt>
					<dd id="perfil-grupo-<%%VALUE(id)%%>" class="perfil-grupo"><%%SELECT%%><%%VALUE(grupo)%%><%%ENDSELECT%%></dd>

					<dt class="perfil-estado-caption field-caption-tv">Estado</dt>
					<dd id="perfil-estado-<%%VALUE(id)%%>" class="perfil-estado"><%%SELECT%%><%%VALUE(estado)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
