<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group perfil-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Usuario -->
		<div class="form-group perfil-usuario" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Usuario</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(usuario)%%></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group perfil-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nombre)%%></div>
			</div>
		</div>
		<!-- Field: Apellidos -->
		<div class="form-group perfil-apellidos" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Apellidos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(apellidos)%%></div>
			</div>
		</div>
		<!-- Field: Tipo id -->
		<div class="form-group perfil-tipo_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_id<%%RND1%%>"><%%COMBOTEXT(tipo_id)%%></span></div>
			</div>
		</div>
		<!-- Field: Numero id -->
		<div class="form-group perfil-numero_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Numero id</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(numero_id)%%></div>
			</div>
		</div>
		<!-- Field: Email -->
		<div class="form-group perfil-dato2" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Email</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(dato2)%%></div>
			</div>
		</div>
		<!-- Field: Fecha nacimiento -->
		<div class="form-group perfil-fecha_nacimiento" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha nacimiento</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(fecha_nacimiento)%%></div>
			</div>
		</div>
		<!-- Field: Telefono -->
		<div class="form-group perfil-telefono" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Telefono</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(telefono)%%></div>
			</div>
		</div>
		<!-- Field: Celular -->
		<div class="form-group perfil-celular" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Celular</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(celular)%%></div>
			</div>
		</div>
		<!-- Field: Rh -->
		<div class="form-group perfil-rh" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Rh</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="rh<%%RND1%%>"><%%COMBOTEXT(rh)%%></span></div>
			</div>
		</div>
		<!-- Field: Foto perfil -->
		<div class="form-group perfil-foto_perfil" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Foto perfil</label>
			<div class="col-xs-9">
				<div class="form-control-static"><img id="foto_perfilImg" src="thumbnail.php?t=perfil&f=foto_perfil&i=<%%VALUE(foto_perfil)%%>&v=dv" class="img-thumbnail"></div>
			</div>
		</div>
		<!-- Field: Estado civil -->
		<div class="form-group perfil-estado_civil" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado civil</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(estado_civil)%%></div>
			</div>
		</div>
		<!-- Field: Direccion -->
		<div class="form-group perfil-direccion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Direccion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(direccion)%%></div>
			</div>
		</div>
		<!-- Field: % Optimo -->
		<div class="form-group perfil-optimo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">% Optimo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(optimo)%%></div>
			</div>
		</div>
		<!-- Field: Creado -->
		<div class="form-group perfil-creado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado)%%></div>
			</div>
		</div>
		<!-- Field: Creado por -->
		<div class="form-group perfil-creado_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creado_por)%%></div>
			</div>
		</div>
		<!-- Field: Grupo -->
		<div class="form-group perfil-grupo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Grupo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(grupo)%%></div>
			</div>
		</div>
		<!-- Field: Estado -->
		<div class="form-group perfil-estado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Estado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(estado)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="perfil-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=perfil-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'perfil',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'perfil-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

