<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the precio_mobiliario_init() hook (in hooks/precio_mobiliario.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="precio_mobiliario-mobiliario-<%%VALUE(id)%%>" class="precio_mobiliario-mobiliario"><%%VALUE(mobiliario)%%></td>
		<td id="precio_mobiliario-precio-<%%VALUE(id)%%>" class="precio_mobiliario-precio"><%%VALUE(precio)%%></td>
		<td id="precio_mobiliario-proveedor-<%%VALUE(id)%%>" class="precio_mobiliario-proveedor"><%%VALUE(proveedor)%%></td>
