<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the progreso_init() hook (in hooks/progreso.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="progreso-id_observacion-<%%VALUE(id)%%>" class="progreso-id_observacion"><%%VALUE(id_observacion)%%></td>
		<td id="progreso-estado_seguimiento-<%%VALUE(id)%%>" class="progreso-estado_seguimiento"><%%VALUE(estado_seguimiento)%%></td>
		<td id="progreso-descripcion-<%%VALUE(id)%%>" class="progreso-descripcion"><%%VALUE(descripcion)%%></td>
