<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_estado_observaciones_init() hook (in hooks/tipo_estado_observaciones.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_estado_observaciones-estado_observa-<%%VALUE(id)%%>" class="tipo_estado_observaciones-estado_observa"><%%SELECT%%><%%VALUE(estado_observa)%%><%%ENDSELECT%%></td>
		<td id="tipo_estado_observaciones-descripcion-<%%VALUE(id)%%>" class="tipo_estado_observaciones-descripcion"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
