<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_dispositivo_init() hook (in hooks/tipo_dispositivo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_dispositivo-tipo_dispositivo-<%%VALUE(id_tipodispo)%%>" class="tipo_dispositivo-tipo_dispositivo"><%%VALUE(tipo_dispositivo)%%></td>
		<td id="tipo_dispositivo-grupo_dispo-<%%VALUE(id_tipodispo)%%>" class="tipo_dispositivo-grupo_dispo"><%%VALUE(grupo_dispo)%%></td>
		<td id="tipo_dispositivo-prefijo-<%%VALUE(id_tipodispo)%%>" class="tipo_dispositivo-prefijo"><%%VALUE(prefijo)%%></td>
		<td id="tipo_dispositivo-descripcion-<%%VALUE(id_tipodispo)%%>" class="tipo_dispositivo-descripcion"><%%VALUE(descripcion)%%></td>
