<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_iden_init() hook (in hooks/tipo_iden.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_iden-tipo_iden-<%%VALUE(id_iden)%%>" class="tipo_iden-tipo_iden"><%%SELECT%%><%%VALUE(tipo_iden)%%><%%ENDSELECT%%></td>
		<td id="tipo_iden-tipo_iden_abre-<%%VALUE(id_iden)%%>" class="tipo_iden-tipo_iden_abre"><%%SELECT%%><%%VALUE(tipo_iden_abre)%%><%%ENDSELECT%%></td>
