<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_movimiento_init() hook (in hooks/tipo_movimiento.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_movimiento-tipo_movimiento-<%%VALUE(id)%%>" class="tipo_movimiento-tipo_movimiento"><%%VALUE(tipo_movimiento)%%></td>
		<td id="tipo_movimiento-descripcion-<%%VALUE(id)%%>" class="tipo_movimiento-descripcion"><%%VALUE(descripcion)%%></td>
