<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the tipo_accesorio_init() hook (in hooks/tipo_accesorio.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="tipo_accesorio-tipo_accesorio-<%%VALUE(id)%%>" class="tipo_accesorio-tipo_accesorio"><%%VALUE(tipo_accesorio)%%></td>
		<td id="tipo_accesorio-prefijo-<%%VALUE(id)%%>" class="tipo_accesorio-prefijo"><%%VALUE(prefijo)%%></td>
		<td id="tipo_accesorio-descripcion-<%%VALUE(id)%%>" class="tipo_accesorio-descripcion"><%%VALUE(descripcion)%%></td>
