		<td colspan="11" class="row">
			<div class="col-md-3">				<dl class="dl-horizontal">
					<dt class="unidades-nombre-caption field-caption-tv">Nombre de la unidad</dt>
					<dd id="unidades-nombre-<%%VALUE(id_unidades)%%>" class="unidades-nombre"><%%VALUE(nombre)%%></dd>

					<dt class="unidades-abreviado-caption field-caption-tv">Abreviado</dt>
					<dd id="unidades-abreviado-<%%VALUE(id_unidades)%%>" class="unidades-abreviado"><%%VALUE(abreviado)%%></dd>

					<dt class="unidades-ciudad-caption field-caption-tv">Ciudad</dt>
					<dd id="unidades-ciudad-<%%VALUE(id_unidades)%%>" class="unidades-ciudad"><%%VALUE(ciudad)%%></dd>

					<dt class="unidades-telefono-caption field-caption-tv">Telefono</dt>
					<dd id="unidades-telefono-<%%VALUE(id_unidades)%%>" class="unidades-telefono"><%%VALUE(telefono)%%></dd>

					<dt class="unidades-direccion-caption field-caption-tv">Direccion</dt>
					<dd id="unidades-direccion-<%%VALUE(id_unidades)%%>" class="unidades-direccion"><%%VALUE(direccion)%%></dd>

					<dt class="unidades-ubicacion-caption field-caption-tv">Ubicacion</dt>
					<dd id="unidades-ubicacion-<%%VALUE(id_unidades)%%>" class="unidades-ubicacion"><%%VALUE(ubicacion)%%></dd>

					<dt class="unidades-prestador-caption field-caption-tv">Prestador</dt>
					<dd id="unidades-prestador-<%%VALUE(id_unidades)%%>" class="unidades-prestador"><%%VALUE(prestador)%%></dd>

					<dt class="unidades-dispositivos_costo-caption field-caption-tv">Costo de Dispositivos</dt>
					<dd id="unidades-dispositivos_costo-<%%VALUE(id_unidades)%%>" class="unidades-dispositivos_costo"><%%VALUE(dispositivos_costo)%%></dd>

					<dt class="unidades-mobiliario_costo-caption field-caption-tv">Costo de Mobiliario</dt>
					<dd id="unidades-mobiliario_costo-<%%VALUE(id_unidades)%%>" class="unidades-mobiliario_costo"><%%VALUE(mobiliario_costo)%%></dd>

					<dt class="unidades-costo_total-caption field-caption-tv">Costo total</dt>
					<dd id="unidades-costo_total-<%%VALUE(id_unidades)%%>" class="unidades-costo_total"><%%VALUE(costo_total)%%></dd>

				</dl>
			</div>
			<div class="col-md-9"><div id="unidades-logo-<%%VALUE(id_unidades)%%>" class="unidades-logo"><img src="thumbnail.php?i=<%%VALUE(logo)%%>&t=unidades&f=logo&v=tv" class="img-thumbnail"></div></div>
		</td>
