<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group verificacion_articulos-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Codigo -->
		<div class="form-group verificacion_articulos-codigo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Codigo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="codigo-readonly<%%RND1%%>"><%%COMBOTEXT(codigo)%%></span></div>
			</div>
		</div>
		<!-- Field: Tipo de dispositivo -->
		<div class="form-group verificacion_articulos-tipo_dispo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tipo de dispositivo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tipo_dispo<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Nombre -->
		<div class="form-group verificacion_articulos-nombre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="nombre<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Serial -->
		<div class="form-group verificacion_articulos-serial" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Serial</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="serial<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Ubicacion -->
		<div class="form-group verificacion_articulos-ubicacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ubicacion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ubicacion<%%RND1%%>"><%%COMBOTEXT(ubicacion)%%></span></div>
			</div>
		</div>
		<!-- Field: Abreviado -->
		<div class="form-group verificacion_articulos-abreviado" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Abreviado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="abreviado<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Verificado -->
		<div class="form-group verificacion_articulos-verificacion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Verificado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><input type="checkbox" name="verificacion" id="verificacion" value="1" <%%CHECKED(verificacion)%%> readonly></div>
			</div>
		</div>
		<!-- Field: Comentario -->
		<div class="form-group verificacion_articulos-comentario" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comentario</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(comentario)%%></div>
			</div>
		</div>
		<!-- Field: Fecha de verificado -->
		<div class="form-group verificacion_articulos-fecha_verifi" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha de verificado</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(fecha_verifi)%%></div>
			</div>
		</div>
		<!-- Field: Verificado por -->
		<div class="form-group verificacion_articulos-verifi_por" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Verificado por</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(verifi_por)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
