<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the verificacion_articulos_init() hook (in hooks/verificacion_articulos.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="verificacion_articulos-codigo-<%%VALUE(id)%%>" class="verificacion_articulos-codigo"><%%VALUE(codigo)%%></td>
		<td id="verificacion_articulos-tipo_dispo-<%%VALUE(id)%%>" class="verificacion_articulos-tipo_dispo"><%%VALUE(tipo_dispo)%%></td>
		<td id="verificacion_articulos-nombre-<%%VALUE(id)%%>" class="verificacion_articulos-nombre"><%%VALUE(nombre)%%></td>
		<td id="verificacion_articulos-serial-<%%VALUE(id)%%>" class="verificacion_articulos-serial"><%%VALUE(serial)%%></td>
		<td id="verificacion_articulos-ubicacion-<%%VALUE(id)%%>" class="verificacion_articulos-ubicacion"><%%VALUE(ubicacion)%%></td>
		<td id="verificacion_articulos-abreviado-<%%VALUE(id)%%>" class="verificacion_articulos-abreviado"><%%VALUE(abreviado)%%></td>
		<td id="verificacion_articulos-verificacion-<%%VALUE(id)%%>" class="verificacion_articulos-verificacion"><%%VALUE(verificacion)%%></td>
		<td id="verificacion_articulos-comentario-<%%VALUE(id)%%>" class="verificacion_articulos-comentario"><%%VALUE(comentario)%%></td>
		<td id="verificacion_articulos-fecha_verifi-<%%VALUE(id)%%>" class="verificacion_articulos-fecha_verifi"><%%VALUE(fecha_verifi)%%></td>
		<td id="verificacion_articulos-verifi_por-<%%VALUE(id)%%>" class="verificacion_articulos-verifi_por"><%%VALUE(verifi_por)%%></td>
